*{
    box-sizing: border-box;

    
}

body,html{

    height: 100%;
    margin:0;
    font-family: cursive;
}


.tablink{
    background-color:rgb(60, 165, 50);
    color:white;
    float:left;
    border:none;
    outline:none;
    cursor:pointer;
    padding: 10px 10px;
    font-size: 17px;
    width: 25%;
}

.tablink:hover{
    background-color: rgb(214, 214, 214);
}

.tabcontent{
    color:white;
    display:none;
    padding: 100px 20px;
    height:200%;


}
#BlogOne{
    background-color:grey ;
}
#BlogTwo{
    background-color:green ;
}
#BlogThree{
    background-color:black ;
}
#BlogFour{
    background-color:rgb(4, 46, 6) ;
}
