



header{

    background-color: white;
    font-family: 'Times New Roman', Times, serif;
}
body{
    margin: 0;
    padding: 0;
    background: linear-gradient(
        #328a2a,
        #169e3f var(--line-offset),
        #4f8a19 var(--line-offset)
    );
    width: 100vw;
    height: 100vh;
    color:black;

    --menu-item-size: 50px;
    --green-color: #0fa54e;
    --darker-green-color: #1e9446;
    --black-color: #010804;
    --white-color: #FFF;
    --gray-color: #EDEDED;
    --line-offset: calc((100% - var(--container-height))/ 2 + var(--menu-item-size) + 0.6em);
}


.main-bar {
    display: flex;
    list-style: none;
    margin: auto 0;
    padding: 0.6em 0 0 0;
}

.main-bar> li {
    box-sizing: border-box;
    height: var(--menu-item-size);
    width: calc(3.5 * var(--menu-item-size));  
    line-height: var(--menu-item-size);
    padding: 0 2em;
    margin: 1px;
    transition: 0.5s linear all;
    background: var(--darker-green-color);
    color: var(--dark-green-color);
    cursor: pointer;
    font-size: 16px;
    user-select: none;
}

.main-bar > li:not(.with-subbar) {
    clip-path: polygon(10% 0%, 0% 100%, 95% 100%, 100% 50%, 95% 0%);
    shape-outside: polygon(10% 0%, 0% 100%, 95% 100%, 100% 50%, 95% 0%);
}

.main-bar > li:nth-child(2) {
    transform: translateX(-5%);
}

.main-bar > li:nth-child(3) {
    transform: translateX(-10%)
}

.main-bar > li:nth-child(4) {
    transform: translateX(-15%)
}

.main-bar i {
    margin-right: 5px;
}

.main-bar > li:hover:not(.active) {
    background: linear-gradient(to right, var(--green-color), var(--blue-color));
    color: var(--white-color);
}

.main-bar > li:active:not(.active),
.main-bar > li:active:not(.with-subbar){
    background: var(--blue-color);
    color: var(--white-color);
}

.main-bar > li:hover i:not(li.active) {
    color: #175c58;
}

.main-bar .active {
    color: var(--white-color);
    background: var(--blue-color);
    cursor: default;
    text-shadow: 1px 1px 1px var(--dark-green-color);
    font-size: 18px;
}



h1 {
    font-size: 115%;
    margin: 1em 2em;
    padding: 0;
    position: relative;
    color:black;
}



.subbar {
    display: none;
    position: absolute;
    z-index: 10;
    list-style: none;
    left: 0;
    margin: 0;
    padding: 0;
    min-width: calc(3.5 * var(--menu-item-size) - 5%);
    box-shadow: 5px 5px 5px #CCC;
}

.with-subbar {
    position: relative;
    display: inline-block;
    clip-path: polygon(10% 0%, 0% 100%, 0% 500%, 95% 500%, 95% 100%, 100% 50%, 95% 0%);
    shape-outside: polygon(10% 0%, 0% 100%, 95% 100%, 100% 50%, 95% 0%);
}

.with-subbar:hover .subbar {
    display: block;
}

.subbar > li {
    background: #dedede;
    border-bottom: 1px solid var(--gray-color); 
    color:black;
    padding: 1.2em 1em;
    transition: 0.3s all linear;
    display: block;
    line-height: 0%;
}

.subbar > li:hover {
    background: var(--gray-color)
}

.subbar> li:active {
    background: var(--white-color);
}







main{

    width: 90vw;
    margin:0 auto;
    padding: 30px 20px;
    min-height: calc(100vh - 61.6px - 55.2px);
}
 footer{
     background-color:white;
     color:black;
     text-align: center;
    
     padding: 50px;
     bottom: 0%;
    
     
 }

 #right{
    position: absolute;
    bottom: 80px;
    right: 10px;
}

 h1{
    background-color:white;
    color:black;
    text-align: center;
    padding: 20px;
    width:20%;
    margin: 0 auto;
    font-size: 30px;
    font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif
    
 }



