
@import url('https://fonts.googleapis.com/css?family=Lexend+Deca&display=swap');



header{

    background-color: white;
}
body{
    margin: 0;
    padding: 0;
    background: linear-gradient(
        #3f8039,
        #3b8551 var(--line-offset),
        #dedede var(--line-offset)
    );
    width: 100vw;
    height: 100vh;
    font-family: 'Lexend Deca', sans-serif;
    color:black;

    --menu-item-size: 50px;
    --green-color: #0c8f4d;
    --darker-green-color: #089938;
    --dark-green-color: #0da84e;
    --white-color: #FFF;
    --gray-color: #EDEDED;
    --line-offset: calc((100% - var(--container-height))/ 2 + var(--menu-item-size) + 0.6em);
}


.main-bar {
    display: flex;
    list-style: none;
    margin: auto 0;
    padding: 0.6em 0 0 0;
}

.main-bar> li {
    box-sizing: border-box;
    height: var(--menu-item-size);
    width: calc(3.5 * var(--menu-item-size));  
    line-height: var(--menu-item-size);
    padding: 0 2em;
    margin: 1px;
    transition: 0.5s linear all;
    background: var(--darker-green-color);
    color: var(--dark-green-color);
    cursor: pointer;
    font-size: 16px;
    user-select: none;
}

.main-bar > li:not(.with-subbar) {
    clip-path: polygon(10% 0%, 0% 100%, 95% 100%, 100% 50%, 95% 0%);
    shape-outside: polygon(10% 0%, 0% 100%, 95% 100%, 100% 50%, 95% 0%);
}

.main-bar > li:nth-child(2) {
    transform: translateX(-5%);
}

.main-bar > li:nth-child(3) {
    transform: translateX(-10%)
}

.main-bar > li:nth-child(4) {
    transform: translateX(-15%)
}

.main-bar i {
    margin-right: 5px;
}

.main-bar > li:hover:not(.active) {
    background: linear-gradient(to right, var(--green-color), var(--blue-color));
    color: var(--white-color);
}

.main-bar > li:active:not(.active),
.main-bar > li:active:not(.with-subbar){
    background: var(--blue-color);
    color: var(--white-color);
}

.main-bar > li:hover i:not(li.active) {
    color: #175c58;
}

.main-bar .active {
    color: var(--white-color);
    background: var(--blue-color);
    cursor: default;
    text-shadow: 1px 1px 1px var(--dark-green-color);
    font-size: 18px;
}



h1 {
    font-size: 115%;
    margin: 1em 2em;
    padding: 0;
    position: relative;
    color:black;
}



.subbar {
    display: none;
    position: absolute;
    z-index: 10;
    list-style: none;
    left: 0;
    margin: 0;
    padding: 0;
    min-width: calc(3.5 * var(--menu-item-size) - 5%);
    box-shadow: 5px 5px 5px #CCC;
}

.with-subbar {
    position: relative;
    display: inline-block;
    clip-path: polygon(10% 0%, 0% 100%, 0% 500%, 95% 500%, 95% 100%, 100% 50%, 95% 0%);
    shape-outside: polygon(10% 0%, 0% 100%, 95% 100%, 100% 50%, 95% 0%);
}

.with-subbar:hover .subbar {
    display: block;
}

.subbar > li {
    background: #dedede;
    border-bottom: 1px solid var(--gray-color); 
    color:black;
    padding: 1.2em 1em;
    transition: 0.3s all linear;
    display: block;
    line-height: 0%;
}

.subbar > li:hover {
    background: var(--gray-color)
}

.subbar> li:active {
    background: var(--white-color);
}
 footer{
     background-color:black;
     color: white;
 }



