
header {
    font-family:'Times New Roman', Times, serif;
    background-color: azure;
    padding-top: 20px;
    padding-bottom: 20px;
    color: black;
}
body{
    background-image: url(Picture-of-AB.png);
    margin: 0%;
}

aside {
    float:left
    width 25%;
}