
header {
    font-family:'Times New Roman', Times, serif;
    background-color:white;
    padding-top: 20px;
    padding-bottom: 20px;
    color: black;
}
body{
    
    margin: 0%;
}

nav {
    position: absolute;
    top: 15px;
    left: 50%;
    transform: translateX(-50%);
    display: inline-block;
    border: 2px solid #EBECF1;
    border-radius: 30px;
    animation: slide-in 1s ease-out;
  }
  